.App {
  position: relative;
  background-color: rgb(0, 0, 0);
}

.circleHelper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 2, 1fr;
  grid-gap: 10px;
  max-width: 800px;
}

.buttonOuter {
}

.buttonInner1 {
  max-width: 400px;

  grid-column: 1 / 2;
  grid-row: 1;
  background-color: black;
}

.buttonInner2 {
  max-width: 400px;
  grid-column: 2 / 2;
  grid-row: 1;
  background-color: blue;
}

.buttonInner3 {
  max-width: 400px;
  grid-column: 1 / 2;
  grid-row: 2;

  background-color: black;
}

.buttonInner4 {
  max-width: 400px;
  grid-column: 2 / 2;
  grid-row: 2;
  background-color: black;
}

.buttonInner1.Active {
  background-color: red;
}

.buttonInner2.Active {
  background-color: green;
}

.buttonInner3.Active {
  background-color: yellow;
}

.buttonInner4.Active {
  background-color: purple;
}

h2 {
  color: white;
}
