

.App {
  position: relative;
  background-color: rgb(0, 0, 0);
  
  max-width: 100vw;
  
}

.circleHelper {
  
  max-width: 100%;
  height: 100%;
  background-color:white;
  border-radius: 50%;
  
  
  border: solid black;
  
}



.buttonOuter {
  position: relative;
  max-width: 100%;
  height: 305px;
  background-color:white;
  border-radius: 50%;
  margin-top:0%;
  margin-left:10%;
  margin-right: 10%;
  
  
}

.buttonInner1 {
  position: absolute;
  
  width: 35%;
  height: 35%;
  background-color: black;
  margin-left: 7%;
  margin-top: 7%;
  
  border-radius: 50%;
  
 

}

.buttonInner2 {
  position: absolute;
  
  width: 35%;
  height: 35%;
  background-color: black;
  margin-left: 60%;
  margin-top: 15%;
  border-radius: 50%;
 

}

.buttonInner3 {
  position: absolute;
  
  width: 35%;
  height: 35%;
  background-color: black;
  margin-left: 6%;
  margin-top: 50%;
  border-radius: 50%;
 

}

.buttonInner4 {
  position: absolute;
  
  width: 35%;
  height: 35%;
  background-color: black;
  margin-left: 60%;
  margin-top: 55%;
  border-radius: 50%;
 

}

.buttonInner1.Active {

  background-color: red;
}


.buttonInner2.Active {

  background-color: green
}

.buttonInner3.Active {

  background-color: yellow
}

.buttonInner4.Active {

  background-color: purple
}


h2 {

  color: white;
}

