.App {
  position: relative;
  background-color: white;
}

.circleHelper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 600px;
}

.buttonInner1 {
  max-width: 300px;

  grid-column: 1 / 2;
  grid-row: 1;
}

.buttonInner2 {
  max-width: 300px;

  grid-column: 2 / 2;
  grid-row: 1;
}

.buttonInner3 {
  max-width: 300px;
  grid-column: 1 / 2;
  grid-row: 2;
}

.buttonInner4 {
  max-width: 300px;
  grid-column: 2 / 2;
  grid-row: 2;
}

.buttonInner1.Active {
  background-color: red;
}

.buttonInner2.Active {
  background-color: green;
}

.buttonInner3.Active {
  background-color: yellow;
}

.buttonInner4.Active {
  background-color: purple;
}

h2 {
  color: white;
}
